

@import "variables";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: $theme-color;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 500;

  background-color: $primary-color;

  transition-duration: 500ms;

  &.visible {
    transform: translateY(0%);
  }

  &.hidden {
    transform: translateY(-100%);
  }

  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    border-bottom: 1px solid $border-color;


    .logo {
      height: 20px;
      width: auto;
      margin: 12px 15px;
    }

    .right-side {
      display: flex;
      justify-content: space-between;
      width: 70px;
      margin: 12px 15px;

      .icon {
        height: 20px;
        font-weight: lighter;
      }
    }

    .search-on {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - 18px);
      padding: 8px 14px;
      background-color: $secondary-color;

      .search-bar {
        width: calc(100% - 80px);
        background-color: $tertiary-color;
        padding: 5px;
        border-radius: 40px;
    
        .search-bar-input {
          width: calc(100% - 60px);
          background-color: transparent;
          outline: none;
          border: none;
          color: $font-light;
          margin-left: 8px;
          margin-right: 20px;
          vertical-align: middle;
          font-size: 16px;
        }
      }
    
      .round-btn {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        background-color: $tertiary-color;
      }
    }
  }


  .navigation-menu-and-topics {
    display: flex;
    width: calc(100% - 24px);
    overflow-x: scroll;
    padding: 10px 12px;

    scrollbar-width: none;  /* Firefox */

    border-bottom: 1px solid $border-color;

    .menu-icon {
      background-color: $secondary-color;
      padding: 6px 12px;
      margin-right: 10px;

      .icon {
        vertical-align: middle;
        height: 20px;
      }

    }

    .topic-tag {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      background-color: $secondary-color;
      padding: 6px 16px;
      margin-left: 10px;
      border-radius: 8px;
      vertical-align: middle;

      &.active {
        background-color: $theme-color !important;
        color: $secondary-color !important;
      }
    }
  }
}

.video-card {
  width: 100%;
  margin-bottom: 14px;

  .image {
    width: 100%;
    aspect-ratio: 16/9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;

    .duration {
      background-color: $secondary-color;
      color: $theme-color;
      font-size: 12px;
      padding: 5px 8px;
      border-radius: 8px;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }

  .video-details {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .author-dp {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      margin: 12px 10px;
      margin-left: 16px;
      content: "";
    }

    .details {
      margin: 12px 10px;
      width: calc(100% - 100px);

      .title {
        font-size: 14px;
        font-weight: 500;
      }

      .other {  
        font-size: 12px;
        font-weight: 200;
        color: #bebebe;
        margin-top: 5px;
      }

      
    }

    .video-menu {
      width: 10px;
      justify-content: center;
      margin-right: 8px;
  
      .icon {
        height: 18px;
      }
    }
  }
}


.youtube-player {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}


.video-content {
  width: calc(100% - 40px);
  padding: 0 20px;

  .title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .description {
    font-size: 12px;
    opacity: 0.7;
    word-wrap: break-word;
  }
}