$primary-color  : #181818;
$theme-color : #fff;
$secondary-color : #2d2c2c;
$tertiary-color : #535252;
$border-color : #e4e4e421;

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: $theme-color;
}


.top-bar {
  position: sticky;
  top: 0;
  left: 0;
  background-color: $primary-color;
  z-index: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  border-bottom: 1px solid $border-color;


  .logo {
    height: 20px;
    width: auto;
    margin: 12px 15px;
  }

  .right-side {
    display: flex;
    justify-content: space-between;
    width: 70px;
    margin: 12px 15px;

    .icon {
      height: 20px;
      font-weight: lighter;
    }
  }

  .search-on {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 18px);
    padding: 9px 15px;
    background-color: $secondary-color;

    .search-bar {
      width: calc(100% - 80px);
      background-color: $tertiary-color;
      padding: 5px;
      border-radius: 40px;
  
      .search-bar-input {
        width: calc(100% - 60px);
        background-color: transparent;
        outline: none;
        border: none;
        color: #fff;
        margin-left: 8px;
        margin-right: 20px;
        vertical-align: middle;
      }
    }
  
    .round-btn {
      width: 30px;
      height: 30px;
      border-radius: 50%;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      background-color: $tertiary-color;
    }
  }
}


.navigation-menu-and-topics {
  display: flex;
  width: calc(100% - 24px);
  overflow-x: scroll;
  padding: 10px 12px;

  scrollbar-width: none;  /* Firefox */

  .menu-icon {
    background-color: $secondary-color;
    padding: 6px 12px;
    margin-right: 10px;

    .icon {
      vertical-align: middle;
      height: 20px;
    }

  }

  .topic-tag {
    font-size: 16px;
    background-color: $secondary-color;
    padding: 6px 16px;
    margin-left: 10px;
    border-radius: 8px;

    &.active {
      background-color: $theme-color !important;
      color: $secondary-color !important;
    }
  }
}

.video-card {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 20px;

  .image {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;

    .duration {
      background-color: $secondary-color;
      color: $theme-color;
      font-size: 14px;
      padding: 5px 8px;
      border-radius: 8px;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }

  .video-details {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .author-dp {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      margin: 12px 10px;
      content: "";
    }

    .details {
      margin: 12px 10px;
      width: calc(100% - 120px);

      .title {
        font-size: 14px;
        font-weight: bold;
      }

      .other {  
        font-size: 12px;
        font-weight: 200;
        color: #bebebe;
        margin-top: 5px;
      }

      
    }

    .video-menu {
      width: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 8px;
  
      .icon {
        height: 20px;
        vertical-align: middle;
        
      }
    }
  }
}