@import "variables";

.youtube-player {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 400;
    .iframe-player {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%;
    
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }
}  
  
.video-description {
  width: calc(100% - 40px);
  padding: 0 20px;

  .title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .description {
    font-size: 14px;
    opacity: 0.7;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-top: 8px;
    overflow: hidden;

    &.hidden {
      height: 0;
    }

    &.show {
      height: auto;
    }
  }

  .statistics {
    font-size: 12px;
    font-weight: 300;

    .show-more-btn {
      font-weight: 400;
      margin-left: 10px;
      display: inline-block;
      text-decoration: underline;

      &.hidden {
        display: none;
      }

      &.show {
        display: inline-block;
      }
    }
  }

  .show-less-btn {
    font-weight: 400;
    margin-top: 10px;
    text-decoration: underline;

    &.hidden {
      display: none;
    }

    &.show {
      display: block;
    }
  }
}

.channel-details {
  width: calc(100% - 30px);
  display: flex;
  padding: 12px 15px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;

    .channel-dp {
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: none;
      background-size: cover;
      content: "";
      border-radius: 50%;
    }
  
    .title {
      margin-left: 10px;
      font-size: 14px;
      font-weight: 400;
    }
  
    .subscribers-count {
      margin-left: 10px;
      font-size: 12px;
      font-weight: 300;
      opacity: 0.7;
      vertical-align: middle;
    }
  }

  .subscribe-btn {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
    background-color: $theme-color;
    color: $primary-color;
    border-radius: 20px;
  }
}